<p>{{#link-to 'index'}}<strong>{{title}}</strong>{{/link-to}}</p>

<p><button {{action 'toggleNavigation'}}>Toggle navigation</button></p>
<nav {{bind-attr class=":Nav showNavigation:is-active"}}>
	{{partial 'navigation'}}
</nav>

{{outlet}}

<div class="Overlay" {{action 'closeModal'}}>
	<div class="Modal" {{action 'nothing' bubbles=false}}>
		{{outlet modal}}
	</div>
</div>
